/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/315d7776-5d5c-4571-8b24-8432557bbe90.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/e4e6c4f0-e8cc-4520-9a18-591c6a470b82.vsidx
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db-shm
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db-wal
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.opendb
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/1be542a0ffcf4418.ipch
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/af62a7be6a9d4f76.ipch
/RemoteCtrl/RemoteClient/RemoteClient.aps
/RemoteCtrl/RemoteClient/*.user
/RemoteCtrl/RemoteCtrl/*.user
/RemoteCtrl/*.sln
/RemoteCtrl/.vs
/RemoteCtrl/x64
/RemoteCtrl/RemoteCtrl/x64
